/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html { 
    /* Hành vi khi cuộn */
    scroll-behavior: smooth;
}

.open {
    display: flex!important;
}

#main{
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}

.row {
    padding: 32px 0;
    overflow: hidden;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-haf {
    width: 50%;
}

.col-thirt {
    float: left;
    width: calc(100% / 3);
}

.text-while {
    color: #fff!important;
}
/* BEGIN Header */
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: black;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

#nav > li:hover > a {
    color: black;
    background-color: #ccc;
}

#nav li a {
    display: inline-block;
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;

}

#nav li .icon-down{
    padding-left: 2px;
}

#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2) ;
}

#nav li:hover .subnav {
    display: block;
}
#nav .subnav a {
    color: black;
    padding:0 12px;
    line-height: 38px;
}

#nav .subnav li {
    display: block;
    cursor: pointer;
}

#nav .subnav li:hover {
    color: black;
    background-color: #ccc;
}

#header .search{
    height: 100%;
    line-height: 1.7;
    padding: 12px 24px;
    font-size: 15px;
    display: block;
    float: right;
    text-decoration: none;
    color: #fff;
}

#header .search:hover {
    background-color: #f44336;
    color: #fff;
}
/* END Header */

/* BEGIN Slider */
#slider {
    position: relative;
    margin-top: 46.5px;
    width: 100%;
    height: calc(width / 2);
}

#slider .slider-img {
    width: 100%;
}

 #slider .sub-slider {
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 47px;
    text-align: center;
} 

#slider .sub-slider .header-sub {
    margin-bottom: 25px;
    font-weight: 500;
}

#slider .sub-slider .text-sub {
    font-family: "Lato",sans-serif;
    font-size: 15px;
    font-weight: bolder;
}
/* END Slider */

/* Begin Content */
/* #content {
    
} */

/* BEGIN About */
/* #content .about {

} */

#content .section {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 0;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
}

.section .heading-section {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

.section .sub-heading-section {
    text-align: center;
    font-size: 15px;
    margin: 15px 0;
    opacity: 0.5;
    font-style: italic;
}

.section .text-about {
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
/* Begin Team */
#content .about .member-list{
    padding: 32px 0;
    margin-top: 15px;
    overflow: hidden;
} 
#content .about .member {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

#content  .member .name-member {
    margin: 15px 0;
}

#content  .member .member-img {
    width: 153.58px;
    border-radius: 4px;
}
/* END Team  */
/* END About */


/* BEGIN Tour */
#content .tour {
    background-color: black;
}

#content .tour .header-section {
    color: #fff;
}

#content .tour ul.list-ticket-months {
    background-color: #fff;
    list-style-type: none;
    margin: 0 16px;
}

#content .tour .ticket-month{
    padding: 8px 16px;
    color: #757575;
    font-size: 15px;
    line-height: 1.5;
    border-bottom: 1px solid #ddd;
}

#content .tour .sold-ticket {
    background-color: #f44336;
    color: #fff;
    font-size: 15px;
    margin-left: 16px;
    padding: 3px 8px;
}

#content .tour .three-tickets {
    background-color: black;
    color: #fff;
    float: right;
    margin-right: 16px;
    padding: 0 8px;
    border-radius: 50%;
}

#content .buy-tickets-location {
    color: #fff;
    display: block;
    overflow: hidden;
    margin: 0 8px;
    padding: 32px 0;
}

#content .buy-tickets-location .ticket-location {
    width: calc(100% / 3);
    float: left;
    padding: 0 8px;
}

#content .ticket-location .img-location {
    width: 100%;
    display: block;
}

#content .ticket-location .img-location:hover {
    opacity: 0.6;
}

#content .ticket-location .event-information{
    background-color: #fff;
    color: #000;
    padding: 0.15px 16px;
}

#content .event-information .location {
    margin: 15px 0;
}

#content .event-information .time-event{
    margin: 15px 0;
    opacity: 0.6;
    font-family: "Lato", sans-serif;
}

#content .event-information .sub-event{
    margin: 15px 0;
    font-size: 15px;
}

#content .event-information .buy-tickets{
    margin-bottom: 16px;
    padding: 11px 16px;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

#content .event-information .buy-tickets:hover{
    color: #000;
    background-color: #ccc;
}

#contact .information-location .fill-in{
    float: right;
}

/* END Tour */
#footer {
    text-align: center;
    padding: 64px 16px;
    line-height: 1;
}

#footer .socials-list a {
    text-decoration: none;
    cursor: auto;
    color: #000;
    opacity: 0.6;
    font-size: 24px;
}

#footer .socials-list a:hover {
    opacity: 0.4;
}

#footer .copyright {
    margin: 15px 0;
    opacity: 0.6;
    font-size: 15px;
}

#footer .copyright a { 
    color: #000;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}

.modal-container {
    width: 900px;
    min-height: 342.5px;
    background-color: #fff;
    position: relative;
    font-family: "Lato", sans-serif;
    animation: modalFadeIn ease 0.4s;
}

.modal-container .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 19px 17px;
    line-height: 100%;
    background: #009688;
    font-size: 13px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.modal-container .modal-close:hover {
    background-color: #ccc;
    color: black;
}

.modal-container .header-container {
    text-align: center;
    padding: 42px 16px;
    background-color: #009688;
    color: #fff;
    font-size: 30px;
    font-weight: 400px;
    letter-spacing: 4px;
}

.modal-container .body-container {
    display: block;
    padding: 0.15px 16px;
}

.modal-container .body-container .modal-label {
    display: block;
    margin: 15px 0;
    font-size: 16px;
}

.modal-container .body-container .modal-input {
    display: block;
    width: 100%;
    padding: 8px;
    line-height: 1.6;
    border: 1px solid #ccc;
}

.modal-container .body-container .modal-pay {
    display: block;
    width: 100%;
    background-color: #009688;
    color: #fff;
    padding: 16px;
    margin: 16px 0;
    border: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.6px;
    font-family: "Lato", sans-serif;
    cursor: pointer;
}

.modal-container .body-container .modal-pay:hover {
    background-color: #ccc;
    color: #000;
}

.body-container > .modal-pay i{
    font-weight: 800;
    margin-left: 4px;
}

.modal-container .footer-container {
    padding: 0.15px 16px;
}

.modal-container .footer-container .close-container {
    display: inline-block;
    font-size: 15px;
    padding: 8px 16px;
    margin: 16px 0;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.modal-container .footer-container .close-container:hover {
    background-color: #ccc;
    color: #000;
}

.footer-container .close-container .close {
    font-weight: bold;
    font-size: 10px;
}

.modal-container .footer-container .help-modal {
    display: inline-block;
    float: right;
    margin: 15px 0;
}

.modal-container .footer-container .help {
    color: #2196F3;
}

.contact .information-location{
    padding: 32px 0;
    margin: 0 16px;
    overflow: hidden;
}

.contact .information-location .information{
    display: inline-block;
    width: 50%;
}

.information-location .information p {
    font-size : 18px;
}

.information-location .information i[class*="ti-"] {
    width: 30px;
    font-size: 18px;
    display: inline-block;
}

.contact .information-location .fill-in {
    display: inline-block;
    width: 50%;
    float: right;
}
.contact .information-location .fill-in .fill-name-email {
    overflow: hidden;
    display: block;
    margin: 0 -8px 8px;
}

.contact .information-location .fill-in .name-email {
    padding: 8px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ccc;
    line-height: 24px;
}


.contact .information-location .fill-in .fill-message{
    padding: 8px;
    font-size: 14px;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    line-height: 24px;
}

.contact .information-location .fill-in .send {
    float: right;
    margin: 16px 0;
    padding: 11px 15px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    cursor: pointer;
}

.contact .information-location .fill-in .send:hover {
    background-color: #ccc;
    color: black;
}

#content .img-footer img {
    max-width: 100%;
    height: auto;
    filter: grayscale(50%);
}



#footer .text-footer {
    color: #000;
}
@keyframes modalFadeIn{
    from {
        opacity: 0;
        transform: translateY(-300px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
